@import "tailwindcss";

:root {
	--background: #fafafa;
	--background-standard: #fefefe;
	--foreground: #222222;
	--background-contrast: #d8d5d5;
	--shadow: #006bd7;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-background-standard: var(--background-standard);
	--color-background-contrast: var(--background-contrast);
	--font-sans: var(--font-inter-sans);
	--color-ligth-green: #43a29d;
	--color-green: #066964;
	--color-dark-green: #054945;
	--color-gray: #b5b5b5;
	--shadow-blue-soft: 6px 6px 20px 2px rgba(0, 107, 215, 0.25);
	--color-color-shadow: var(--shadow);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #222222;
		--background-standard: #1e1e1e;
		--foreground: #fafafa;
		--background-contrast: #434040;
		--shadow: none;
	}
}

body {
	background: var(--background-standard);
	color: var(--foreground);
}

.scroll-style::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}

.scroll-style::-webkit-scrollbar-thumb {
	background-color: var(--background-contrast);
}
